/*Utils import*/
/*Font variables*/
/*text variables*/
/*Maps text size and weight variables*/
/*Maps Color variables*/
/*media queries variables*/
/*First breakpoint*/
/*Second breakpoint*/
/*Third breakpoint*/
/*Base import*/
/*general basic behavior - general common styles*/
.main-wrapper {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
}

/*colors fonts and cie*/
/*fonts links*/
@font-face {
  font-family: 'Shrikhand';
  src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

/*general font properties*/
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0px;
}

h1, h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

p, span, li {
  font-size: 0.9rem;
  font-weight: normal;
}

button, button span {
  font-size: 0.9rem;
  font-weight: bold;
  border-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*temporary borders*/
/*common parts*/
/*
.main-wrapper {
    border: solid brown;
}

.header {
    border: solid brown;
    &__logo {
        border: solid black;
    }
    &__back {
        border: solid chartreuse;
    }
}

.footer {
    border: solid greenyellow;
    
    &__wrap {
        border: solid red;
    }
    &__h2 {
        border: solid hotpink;
    }
    &__ul {
        border: solid gold;
    }
    &__li {
        border: solid blue;
    }
}*/
/*main parts*/
/*
.intro{
    border: solid pink;
    &__loc {
        border: solid chartreuse;
    }
}

.discription {
    border: solid brown;
    &__h1 {
        border: solid black;
    }
    &__p {
        border: solid magenta;
    }
}

.nav {
    border: solid lightseagreen;
    &__h2 {
        border: solid lightslategray;
    }
    &__wrap {
       border: solid lightseagreen; 
    }
    &__list {
        border: solid lime;
    }
}

.food-section {
    border: solid mediumvioletred;
    &__h2 {
        border: solid olive;
    }
}

.cards-wrap {
    border: solid orangered;
}

.card {
    border: solid paleturquoise;
    &__tag {
        border: solid black;
    }
    &__label {
        border: solid goldenrod;
    }
    &__txt {
        border: solid orangered;
    }
    &__name {
        border: solid black;

    }
    &__location {
        border: solid orangered;

    }
    &__i {
        border: solid black;

    }
}*/
/*menu page parts*/
/*.image-section {
    border: solid greenyellow;
}

.restaurant-wrapper {
    border: solid hotpink;
}

.restaurant-title {
    border: solid indigo;
    &__h1 {
        border: solid steelblue;
    }
    &__i {
        border: solid steelblue;
    }
}

.menu-wrapper {
    border: solid tomato;
}

.menu-element {
    border: solid black;
    &__name {
        border: solid chocolate;
    }
}

.dishes-wrapper {
    border: solid darkcyan;
}

.dish-card {
    border: solid orangered;
    &__txt {
        border: solid darkcyan;
    }
    &__name {
        border: solid black;
    }
    &__details {
        border: solid tomato;
    }
    &__price {
        border: solid black;
    }
    &__check {
        border: solid tomato;
    }
}*/
/*Components import*/
/*common buttons*/
.discription__btn {
  font-size: 0.9rem;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: #FFF;
  border-radius: 20px;
  padding: 12px 16px 12px 16px;
}

.restaurant-btn {
  font-size: 0.9rem;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: #FFF;
  border-radius: 20px;
  padding: 12px 16px 12px 16px;
}

/*Layout import*/
.header {
  padding-top: 18px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*&__link {
    }*/
}

.header__logo {
  width: 140px;
  /*@include mobile-tab {
            width: 170px;
        }
        @include tab-desktop {
            width: 170px;
        }*/
}

@media screen and (min-width: 597px) {
  .header__logo {
    width: 170px;
  }
}

.header__back {
  position: absolute;
  width: 90%;
}

.header__i {
  font-size: medium;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    width: 100%;*/
}

.intro__btn {
  padding-bottom: 10px;
  padding-top: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__btn-wrap {
  margin: 0px;
  padding-left: 0px;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__btn-loc {
  margin-right: 10px;
}

.intro__btn-txt {
  margin-left: 0px;
}

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*text-align: center;*/
  padding-bottom: 50px;
  padding-top: 15px;
  background-color: #F8F8F8;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  /*@include mobile-tab {
        padding-bottom: 10px;
    }
    @include tab-desktop {
        padding-bottom: 10px;
    }*/
}

@media screen and (min-width: 597px) {
  .discription {
    padding-bottom: 10px;
  }
}

.discription__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 280px;
  /*@include mobile-tab {
            max-width: 450px;
        }
        @include tab-desktop {
            max-width: 450px;
        }*/
}

@media screen and (min-width: 597px) {
  .discription__wrap {
    max-width: 450px;
  }
}

.discription__h1 {
  /*width: 75%;
        padding: 0px;*/
  margin-bottom: 1px;
}

.discription__p {
  /*width: 90%;
        padding: 0px;*/
  margin-top: 1px;
  margin-bottom: 30px;
  /*@include mobile-tab {
            margin-bottom: 10px;
        }
        @include tab-desktop {
            margin-bottom: 10px;
        }*/
}

@media screen and (min-width: 597px) {
  .discription__p {
    margin-bottom: 10px;
  }
}

.nav {
  /*text-align: center;*/
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  /*@include mobile-tab {
       padding-bottom: 0px;
   }
   @include tab-desktop {
       padding-bottom: 0px;
   }*/
}

@media screen and (min-width: 597px) {
  .nav {
    padding-bottom: 0px;
  }
}

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 10px 45px 19px;
}

.nav__h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nav__list {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #d4cece;
          box-shadow: 5px 5px 5px #d4cece;
  border: none;
  padding: 22px;
  width: 280px;
  margin-top: 5px;
  margin-bottom: 15px;
  /*@include mobile-tab {
           margin-left: 10px;
           margin-right: 10px;
       }
       @include tab-desktop {
        margin-left: 10px;
        margin-right: 10px;
    }*/
}

@media screen and (min-width: 597px) {
  .nav__btn {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.nav__nmb {
  background-color: #9356DC;
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFF;
  margin-left: -48px;
}

.nav__i {
  color: grey;
  font-size: large;
}

.nav__btn-txt {
  width: 180px;
  text-align: left;
}

/*main page*/
.food-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  padding: 25px 10px 35px 10px;
}

.food-section__h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 8px;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  /*@include mobile-tab {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    @include tab-desktop {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }*/
}

@media screen and (min-width: 597px) {
  .cards-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.card {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #d4cece;
          box-shadow: 5px 5px 5px #d4cece;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  margin-bottom: 10px;
  height: 210px;
  margin-bottom: 20px;
  /*@include mobile-tab {
        width: 260px;
        //margin-right: 5px;
        //margin-left: 5px;
    }
    @include tab-desktop {
        width: 340px;
        //margin-right: 5px;
        //margin-left: 5px;
    }*/
}

@media screen and (min-width: 860px) {
  .card {
    width: 340px;
  }
}

.card__tag {
  position: absolute;
  border-radius: 3px;
  background-color: #99E2D0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #2a947a;
  padding: 5px 8px 5px 8px;
  margin-left: 205px;
  margin-top: 10px;
  /*@include mobile-tab {
            margin-left: 185px;
        }
        @include tab-desktop {
            margin-left: 260px;
        }*/
}

@media screen and (min-width: 860px) {
  .card__tag {
    margin-left: 260px;
  }
}

.card__img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 147px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__label {
  width: 90%;
  max-height: 50px;
  padding: 5px 10px 5px 10px;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__txt {
  padding: 0px;
  max-height: 45px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.card__name {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card__location {
  font-size: 0.9rem;
  font-weight: normal;
  padding-top: 0px;
  margin-top: 0px;
}

.card__i {
  font-size: large;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  padding-top: 5px;
}

/*menu page*/
.image-section {
  position: absolute;
  z-index: -1;
}

.image-section__img {
  width: 100%;
}

.restaurant-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 180px;
  background-color: #F8F8F8;
  border-radius: 30px 30px 0px 0px;
}

.restaurant-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 95%;
  padding: 0px;
  padding-bottom: 62px;
}

.restaurant-title {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  padding-left: 10px;
}

.restaurant-title__h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  margin: 0px;
}

.restaurant-title__i {
  font-size: large;
}

.menu-wrapper {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-bottom: 35px;
}

.menu-element {
  padding: 10px 5px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.menu-element__name {
  font-size: 0.9rem;
  font-weight: normal;
  text-transform: uppercase;
}

.menu-element__name:after {
  content: '';
  display: block;
  width: 13%;
  padding-top: 4px;
  border-bottom: solid 3px #99E2D0;
}

.dishes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0px;
  width: 290px;
}

.dish-card {
  background-color: #FFF;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #d4cece;
          box-shadow: 5px 5px 5px #d4cece;
  border: none;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 5px 8px 5px;
  margin-bottom: 13px;
}

.dish-card__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0px;
}

.dish-card__name {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 2.5px;
}

.dish-card__details {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 2.5px;
}

.dish-card__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0px;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.dish-card__check {
  display: none;
}

.restaurant-btn {
  padding-left: 35px;
  padding-right: 35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2e2e;
  padding: 15px 10px 15px 10px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding-left: 10px;
}

.footer__h2 {
  margin-top: 0px;
  color: #FFF;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.footer__ul {
  margin: 0px;
  padding: 0px;
  width: 280px;
}

.footer__li {
  margin-bottom: 7px;
}

.footer__lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
}

.footer__i-s {
  font-size: small;
}

.footer__i-xs {
  font-size: x-small;
}

.footer__bld-lk {
  font-size: 0.9rem;
  font-weight: bold;
  width: 160px;
  text-align: left;
  padding-right: 100px;
}

.footer__nrml-lk {
  font-size: 0.9rem;
  font-weight: normal;
}
/*# sourceMappingURL=main.css.map */