.footer {
    background-color: $dark-layout;
    padding: 10px;
    &__h2 {
        margin-top: 0px;
        color: $secondary-text;
        font-family: $title-font;
        font-size: 1rem;
    }
    &__ul{
        margin: 0px;
        padding: 0px;
    }
    &__li{
        margin-top: 5px;
    }
    &__lk {
        color: $secondary-text;
    }
}