.main-header {
    @include common-header;
    &__logo {
        width: 150px;
    }
}

.menu-header {
    @include common-header;
    &__logo {
        width: 150px;
    }

    &__back {
        margin-right: 10px;
    }

}