.main-header {
    @include common-header;
    &__logo {
        flex: 0 0 50%;
    }
}

.menu-header {
    @include common-header;
    &__logo {
        flex: 0 0 50%;
    }
    &__back {
        position: absolute;
        width: 90%;

    }

}