
.intro {
    display: flex;
    flex-flow: column nowrap;
    &__btn {
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: $light-layout;
    }
    &__loc {
        margin-right: 15px;
    }
    &__loc-text {
        margin-right: 7px;
    }
}
.description {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;
    padding: 10px;
}

