
.intro {
    display: flex;
    flex-flow: column nowrap;
    &__btn {
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: $light-layout;
    }
    &__loc {
        margin-right: 15px;
    }
    &__loc-text {
        margin-right: 7px;
    }
}
.description {
    @include flex-column-center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 15px;
    background-color: $lighter-layout;
    &__h1 {
        width: 75%;
        padding: 0px;
        margin-bottom: 1px;
    }
    &__p {
        width: 90%;
        padding: 0px;
        margin-top:1px;
        margin-bottom: 30px;
    }

}

.nav {
   @include flex-column-center;
   text-align: center;
   &__h2 {
       align-self: flex-start
   }
   &__list {
       @include flex-column-center;
   }
   &__btn {

   }
}

