.footer {
    @include flex-column-center;
    background-color: map-get($layout-colors, dark);
    padding: 10px;
    
    &__wrap {
        @include flex-column-center;
        align-self: stretch;
        padding-right: 10px;
        padding-left: 10px;
    }
    &__h2 {
        align-self: flex-start;
        margin-top: 0px;
        color: map-get($text-colors, secondary);
        font-family: $title-font;
        @include txt-sz-wght (medium-bold);
        //font-size: 1rem;
    }
    &__ul{
        align-self: stretch;
        margin: 0px;
        padding: 0px;
        width: 280px;
    }
    &__li{
        margin-bottom: 7px; 
    }
    &__lk {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        color: map-get($text-colors, secondary);        
    }
    &__i-s {
        font-size: small;
    }
    &__i-xs {
        font-size: x-small;
    }

    &__bld-lk {
        @include txt-sz-wght (small-bold);
        width: 160px;
        text-align: left;
        padding-right: 100px;
    }
    &__nrml-lk {
        @include txt-sz-wght (small-normal);
    }
}