.header {
    padding-top: 18px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    &__logo {
        width: 140px;
        @include medium-screen {
            width: 170px;
        }
        @include xlarge-screen {
            width: 200px;
        }
    }
    
    &__back {
        //border: black solid;
        position: absolute;
        width: 92%;
        @include medium-screen {
            width: 93%;
        }
        @include xlarge-screen {
            width: 95%;
        }
    }
   
    &__i {
        font-size: medium;
    }
}