.header {
    padding-top: 18px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    &__logo {
        width: 140px;
    }
    &__back {
        position: absolute;
        width: 90%;
    }
    /*&__link {
    }*/
    &__i {
        font-size: medium;
    }
}