.header {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 9rem;
    }
    &__back {
        position: absolute;
        width: 90%;
    }
}