
.intro {
    @include flex-column-center;
    /*display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    width: 100%;*/
    &__btn {
        padding-bottom: 10px;
        padding-top: 10px;
        align-self: stretch;
        background-color: map-get($layout-colors, light);
        display: flex;
        justify-content: center;
    }
    &__btn-wrap {
        margin:0px;
        padding-left: 0px;
        padding-right: 18px;
        display: flex;
        justify-content: space-between;
    }

    &__btn-loc {
        margin-right: 10px;
    }
    &__btn-txt {
        margin-left: 0px;
    }

}

.description {
    @include flex-column-center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 15px;
    background-color: map-get($layout-colors, lighter);
    &__h1 {
        width: 75%;
        padding: 0px;
        margin-bottom: 1px;
    }
    &__p {
        width: 90%;
        padding: 0px;
        margin-top:1px;
        margin-bottom: 30px;
    }

}

.nav {
   @include flex-column-center;
   text-align: center;
   padding-top: 18px;
   padding-bottom: 45px;
   &__h2 {
       align-self: flex-start
   }
   &__list {
       @include flex-column-center;
       width: 95%;
   }
   &__btn {
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-evenly;
       align-items: center;
       background-color: map-get($layout-colors, lighter);
       @include border-radius-shadow;
       padding: 22px;
       width: 98%;
       margin-top: 5px;
       margin-bottom: 15px;
       
   }
   &__nmb {
       background-color: map-get($identity-colors, primary);
       border-radius: 10px;
       padding: 2px 6px 2px 6px;
       font-weight: normal;
       font-size: 0.8rem;
       color: map-get($text-colors, secondary);
       margin-left: -50px;
    }
    &__i {
        color: grey;
        font-size: medium;
    }

}
