/*main page*/

/*loading area*/
.main-in-animation {
    animation: main-in 0s 6000ms ease-in;
    position: relative;
}

.bouncer {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: map-get($layout-colors, neutral);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: bouncer-out 6000ms 2500ms ease-out both;
    & span {
        font-family: $title-font;
        font-size: 1.65rem;
        padding-top: 15px;
        animation: bouncer 2500ms cubic-bezier(.28,.64,.74,.98) infinite alternate;
        @include medium-screen {
            font-size: 1.9rem;
        }
        @include xlarge-screen {
            font-size: 2.3rem;
        }
    }
    & span:nth-child(1) {
        color: map-get($identity-colors, primary);
    }
    & span:nth-child(2) {
        color: map-get($identity-colors, secondary);
        animation-delay: 100ms;
    }
    & span:nth-child(3) {
        color: map-get($identity-colors, tertiary);
        animation-delay: 200ms;
    }
    & span:nth-child(4) {
        color: map-get($identity-colors, primary);
        animation-delay: 300ms;
    }
}  

/*primary content*/
.food-section {
    @include flex-column-center;
        background-color: map-get($layout-colors, lighter);
        padding: 25px 10px 35px 10px;
    &__h2{
        align-self: flex-start;
        margin-left: 8px;
    }
}

.cards-wrap {    
    @include flex-column-center;
        padding: 0px;
    @include medium-screen {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    @include xlarge-screen {
        max-width: 900px;
    }
}


.card {
    @include border-radius-shadow;
    @include flex-column-center;
    width: 280px;
    margin-bottom: 10px;
    height: 210px;
    margin-bottom: 20px;
    @include large-screen {
        width: 340px;
    }
    
    &__tag{
        position: absolute;
        border-radius: 3px;
        background-color: map-get($identity-colors, tertiary);
        @include txt-sz-wght (smaller-bold);
        color: map-get($text-colors, tertiary);
        padding: 5px 8px 5px 8px;
        margin-left: 205px;
        margin-top: 10px;
        @include large-screen {
            margin-left: 260px;
        }    
    }

    &__img {
       border-radius: 10px 10px 0px 0px;
       width: 280px;
       max-height: 147px; 
       object-fit: cover;
           @include large-screen {
        width: 340px;
    }
}
    &__label {
        width: 250px;
        max-height: 50px;
        padding: 5px 10px 5px 10px;
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include large-screen {
            width: 305px;
        }
    }

    &__txt {
        padding: 0px;
        max-height: 45px;
        flex-grow: 2;
    }
    
    &__name{
        @include txt-sz-wght (small-bold);
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    &__location{
        @include txt-sz-wght (small-normal);
        padding-top: 0px;
        margin-top: 0px;
    }

    & .fa-stack-1x{
        font-size: large;
        text-align: right;
    }
    & .fas {
        opacity: 0;
        color: map-get($identity-colors, secondary);
        &:hover{
            transform-origin: center center;
            animation: heart-fill 1500ms 90ms cubic-bezier(0,.55,.6,.99) both;
        }
    }
        
}


/*menu page*/
.image-section{
    position: absolute;
    z-index: -1;
    width: 100%;
    &__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }


}

.restaurant-section {
    @include flex-column-center;    
    margin-top: 180px;
    background-color: map-get($layout-colors, lighter);
    border-radius: 30px 30px 0px 0px;
    &__wrap {        
        @include flex-column-center;
        margin-top: 30px;
        width: 95%;
        padding: 0px;
        padding-bottom: 62px;
    }
    
}


.restaurant-title {    
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 10px;
    &__h1 {
        font-family: $title-font;
        margin: 0px;
    }
    &__i {
        font-size: large;
    }
}

.menu-wrapper {    
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 35px;
    @include xlarge-screen {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}

.menu-element {    
    padding: 10px 5px 0px 5px;
    display: flex;
    flex-flow: column nowrap;    

    &__name {
    @include txt-sz-wght (small-normal);
    text-transform: uppercase;
        &:after {
            content:'';
            display: block;
            width: 36px;
            padding-top: 4px;
            border-bottom: solid 3px map-get($identity-colors, tertiary);

        }
    }
}

.dishes-wrapper {
    @include flex-column-center;
    align-self: center;
    padding: 0px;
    width: 290px;
    @include medium-screen {
        width: 400px;
    }
    @include large-screen {
        width: 700px;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    @include xlarge-screen {
        width: 290px;
    }
}

.dish-card {
    background-color: map-get($layout-colors , neutral);
    @include border-radius-shadow;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 13px;
    width: 280px;
    @include medium-screen {
        width: 390px;
    }
    @include large-screen {
        min-width: 300px;
    }
    
    animation: dishes-entry 4000ms ease-in-out;
    &:nth-child(1) {
        animation-duration: 1000ms;
    }
    &:nth-child(2) {
        animation-duration: 2000ms;
    }
    &:nth-child(3) {
        animation-duration: 3000ms;
    }
    &:nth-child(4) {
        animation-duration: 4000ms;
    }

    &:hover &__check {
        animation: check-in 800ms ease-in-out forwards;
    }
    &:hover &__i {
        animation: rotate 800ms;
    }

    &__txt {
        flex: 2.2;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 8px;
        padding-left: 5px;
        padding-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include medium-screen {
            flex: 2.5;
        }    
    }
    &__name {
        @include txt-sz-wght (small-bold);
        margin: 2.5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    
    &__details {
        @include txt-sz-wght (smaller-normal);
        margin: 2.5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__price {
        align-self: flex-end;
        margin-bottom: 10px;
        margin-right: 0px;
        @include txt-sz-wght (smaller-bold);
        flex: 0.8;
        @include medium-screen {
           flex: 0.8;
        }
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background-color: map-get($identity-colors, tertiary);
        border-radius: 0px 15px 15px 0px;
        min-width: 50px;
        margin-right: -100px;   

    }

    &__i {
        color: map-get($layout-colors, neutral);
        font-size: large;
    }
}






