/*Keayframes area*/

/*Loading spinner in*/
@keyframes bouncer {
    from {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0);
    }
}

/*Loading spinner out*/
@keyframes bouncer-out {
    from {
        z-index: 1;
        opacity: 1;
    }
    to {
        z-index: -1;
        opacity: 0;
    }
    
}

/*Main page in after loading spinner*/
@keyframes main-in {
    from {
        z-index: -1;
        opacity: 0;
    }
    to { 
        z-index: 1;
        opacity: 1;
    }
}

/*Heart icon fill effect*/
@keyframes heart-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    10% {
        
        transform: scale(0.5);
        opacity: 0.2;
    }
    30%{
        transform: scale(0.7);
        opacity: 0.4;

    }

    50% {
        transform: scale(0.9);
        opacity: 0.6;
    }
    70% {
        transform: scale(1);
        opacity: 0.8;
    }

    90%{
        transform: scale(1.7);
        opacity: 0.9;
    }
    100% {
        transform: scale(0.97);
        opacity: 1;
    }
}
/*Heart icon fade effect*/
@keyframes heart-border {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.8;
    }
    30%{
        opacity: 0.6;

    }

    50% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.2;
    }

    90%{
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

/*Menu page gradual dishes entry*/
@keyframes dishes-entry {
    0% {
        opacity: 0;
        transform: translateY(+7px);
    }

    50% {
        opacity: 0.50;
    }

    100% {
        opacity: 1;
    }
}

/*Menu page check-box entry*/
@keyframes check-in {
    0% {
        margin-right: -50px;
    }

    100% {
        margin-right: 0px;
    }
}

/*Menu page check-box icon rotate*/
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}