@mixin txt-sz-wght ($type) {
    $text-style: map-get($txt-sz-wght, $type);
    font-size: map-get($text-style,  size);
    font-weight: map-get($text-style, weight);
}

@mixin common-button {
    @include txt-sz-wght (medium-normal);
    background-color: map-get($identity-colors, secondary);
    color: map-get($text-colors , secondary);
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@mixin flex-column-center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@mixin border-radius-shadow{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(212, 206, 206);
    border: none;
}