@mixin big-bold {
    font-size: 1.3rem;
    font-weight: bold;
}

@mixin medium-bold {
    font-size: 1rem;
    font-weight: bold;

}

@mixin small-bold {
    font-size: 0.9rem;
    font-weight: bold;
}

@mixin small-no-bold {
    font-size: 0.9rem;
}

@mixin common-button {
    background-color: $secondary-color;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}