@mixin big-bold {
    font-size: 1.5rem;
    font-weight: bold;
}

@mixin medium-bold {
    font-size: 1rem;
    font-weight: bold;

}

@mixin small-bold {
    font-size: 0.9rem;
    font-weight: bold;
}

@mixin small-no-bold {
    font-size: 0.9rem;
}