/*general basic behavior - general common styles*/

.main-wrapper {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    animation: main-in 0s 6000ms ease-in;
}

body {
    margin: 0px;
    padding: 0px;
}

