/*fonts links*/
@font-face {
    font-family: 'Shrikhand';
    src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format('truetype');
    font-style: normal;

   }

@font-face {
    font-family: 'Roboto';
    src: url("../../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
   }

/*general typo properties*/
body {
    font-family: $general-font;
    color: map-get($text-colors, primary);
    padding: 0px;
}

h1, h2 {
    @include txt-sz-wght (big-bold);
}

h3 {
    @include txt-sz-wght (medium-bold);
}

p, span, li {
    @include txt-sz-wght (small-normal);
    
}

button, button span {
    @include txt-sz-wght (small-bold);
    border-style: none;
}

a {
    text-decoration: none;
    color: map-get($text-colors, primary);
}

ul {
    list-style: none;
}