/*Utils import*/
/*Font variables*/
/*Color variables*/
/*Base import*/
/*general basic behavior - general common styles*/
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
}

.main-wrapper {
  margin: 0px;
  padding: 0px;
}

/*colors fonts and cie*/
/*fonts links*/
@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

/*temporary borders*/
/*common parts*/
.main-wrapper {
  border: solid blue;
}

.main-header {
  border: solid brown;
}

.main-header__logo {
  border: solid black;
}

.menu-header {
  border: solid brown;
}

.menu-header__logo {
  border: solid black;
}

.menu-header__back {
  border: solid chartreuse;
}

.footer {
  border: solid greenyellow;
}

.footer__h2 {
  border: solid hotpink;
}

.footer__ul {
  border: solid black;
}

.footer__li {
  border: solid blue;
}

/*main parts*/
.intro {
  border: solid pink;
}

.intro__loc {
  border: solid chartreuse;
}

.description {
  border: solid brown;
}

.description__h1 {
  border: solid black;
}

.description__p {
  border: solid magenta;
}

.nav {
  border: solid lightseagreen;
}

.nav__h2 {
  border: solid lightslategray;
}

.nav__list {
  border: solid lime;
}

.food-section {
  border: solid mediumvioletred;
}

.food-section__h2 {
  border: solid olive;
}

.cards-wrap {
  border: solid orangered;
}

.card {
  border: solid paleturquoise;
}

.card__tag {
  border: solid black;
}

.card__text {
  border: solid orangered;
}

.card__name {
  border: solid black;
}

.card__location {
  border: solid orangered;
}

.card__i {
  border: solid black;
}

/*menu page parts*/
.image-section {
  border: solid greenyellow;
}

.restaurant-wrapper {
  border: solid hotpink;
}

.restaurant-title {
  border: solid indigo;
}

.restaurant-title__h1 {
  border: solid steelblue;
}

.restaurant-title__i {
  border: solid steelblue;
}

.menu-wrapper {
  border: solid tomato;
}

.menu-element {
  border: solid black;
}

.menu-element__name {
  border: solid chocolate;
}

.dishes-wrapper {
  border: solid darkcyan;
}

.dish-card {
  border: solid orangered;
}

.dish-card__name {
  border: solid black;
}

.dish-card__details {
  border: solid tomato;
}

.dish-card__price {
  border: solid black;
}

.dish-card__check {
  border: solid tomato;
}

/*Layout import*/
.main-header {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo {
  width: 150px;
}

.menu-header {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__logo {
  width: 150px;
}

.menu-header__back {
  margin-right: 10px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.intro__btn {
  height: 40px;
  font-weight: bold;
  background-color: #e8e8e8;
}

.intro__loc {
  margin-right: 15px;
}

.intro__loc-text {
  margin-right: 7px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 10px;
}

/*Components import*/
/*temporary images size*/
img {
  width: 100px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */